body {
  margin-top: 20px;
  background-color: gainsboro;
}
.container {
  margin: auto;
  max-width: 1000px;
  background-color: whitesmoke;
  padding: 10px 0 0 0;
}
.container h1 {
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.des {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-left: 10px;
}

input {
  border-style: hidden;
  background-color: whitesmoke;
}
.no-outline:focus {
  outline: none;
}
.des input {
  width: 900px;
}
.col h3 {
  margin-top: 10px;
  margin-left: 10px;
}

.form-select:focus {
  outline: none;
  box-shadow: none;
}
.form-select{
  border: hidden;
  background-color: whitesmoke;
}
.date {
  border-left: 1px solid gray;
}
.add {
  text-align: right;
  margin-right: 30px;
}
.add .btn {
  background-color: rgb(24, 23, 23);
  color: white;
}
.del .btn {
  background-color: red;
  color: white;
}

.btnn{
  padding:20px 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  max-width: 1000px;
  margin: auto;
}